@charset "UTF-8";
@import 'aos/dist/aos.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../fonts/Gilroy/Gilroy-Light.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  line-height: 140%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy";
  font-size: 1.5714285714rem;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  /*Чтобы прибить footer к низу*/
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 81.4285714286rem; /*1140 + 30px (отступы безопасности)*/
  margin: 0 auto;
  padding: 2.1428571429rem 1.0714285714rem; /*Отступ безопасности*/
}

main {
  padding-top: 6.4285714286rem;
  flex: 1 1 auto;
}

h1 {
  font-weight: 700;
  font-size: 3.5714285714rem;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 2.8571428571rem;
  padding: 2.1428571429rem 0;
}

p, li {
  font-size: 1.5714285714rem;
}

.formText {
  font-weight: 500;
  font-size: 1.5714285714rem;
}

@media (max-width: 47.99875em) {
  main {
    padding-top: 5rem;
  }
  h1 {
    font-size: 3.1428571429rem;
  }
  h2 {
    font-size: 2.5714285714rem;
  }
  .formText {
    font-size: 1.2857142857rem;
  }
  p, li {
    font-size: 1.2857142857rem;
  }
}
/* HEADER =========================================================== */
/* MAIN =========================================================== */
/* FOOTER =========================================================== */