.link {
	display: block;
	border: toRem(2) solid $mainColor;
	border-radius: toRem(54);
	padding: toRem(8) toRem(24);
	width: max-content;
	// height: min-content;
	font-weight: 700;
	font-size: toRem(24);
	text-align: center;
	color: $mainColor;
	background-color: none;
	transition: 0.2s;
	background-color: #ffffff00;
	color: $mainColor;
	&:hover {
		color: $fontColorLight;
		background-color: $mainColor;
	}
}


@media(max-width: $mobile) {
.link {
	font-size: toRem(20);
	}
}
