.custom_dropdown {
	position: relative;
	display: inline-block;
 }

.dropdown_toggle {
	cursor: pointer;
	position: relative;
	color: $fontColorLight;
	display: flex;
	align-items: center;
	gap: toRem(10);
	img {
		transition: 200ms;
		transform: rotate(0);
	}
	&.open {
		img {
			transform: rotate(180deg);
		}
	}
}

.dropdown_menu {
	transition: 200ms;
	transform: scale(0) translateY(-100%);
	position: absolute;
	top: calc(100% + toRem(4));
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: $bckgColor;
	border-radius: toRem(6);
	box-shadow: 0 toRem(2) toRem(4) #00000033;
	min-width: 100%;
	&.open {
		transform: scale(1) translateY(0);
	}
}

.dropdown_item {
	cursor: pointer;
	padding: toRem(8) toRem(10);
	transition: 200ms;
	border-radius: toRem(6);
	color: $fontColorLight;
	&:hover {
		color: #d7d7d7;
	}
}
 